<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="Content-Language" content="{{PAGE_LANG}}">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
