	<script>
		(function() {
			function initScope(meta) {
				return {BaseUrl: baseUrl, compMap: {}, meta: meta, scopes: scopes};
			}
			var baseUrl = {{& BASE_URL_STRING }};
			var scopes = {
{{# SCOPES_JSON }}
				{{&.}}
{{/ SCOPES_JSON }}
			};
{{#SCOPES}}
			this.{{JS_GLOBAL}} = initScope(scopes.{{NAME}});
{{/SCOPES}}
		})();
	</script>
