	<script>
		(function() {
			var baseUrl = {{& BASE_URL }};
			var scopes = {
{{# SCOPES_JSON }}
				{{&.}}
{{/ SCOPES_JSON }}
			};
{{#SCOPES}}
			this.{{JS_GLOBAL}} = { BaseUrl: baseUrl, __scopes: scopes, compMap: {} };
{{/SCOPES}}
		})();
	</script>
