<script>
	window['-vcomp'] = window['-vcomp'] || {}; {{! Vue Component Map (componentes compartilhados entre projetos) }}
	window.{{GLOBAL_NAME}} = window.{{GLOBAL_NAME}} || {};
	window.{{GLOBAL_NAME}}.BaseUrl = {{& BASE_URL }};
	{{!
	if (window.location.hostname !== 'localhost')
		document.write('<base href="' + window.GLOBAL_NAME.BaseUrl + '">');
	}}
</script>
