{{!	 <script src="public/js/vue.js"></script>
	<script src="public/js/vuex.js"></script>
	<script src="public/js/vue-text-mask.min.js"></script>
	<script src="public/js/vuebar.js"></script>
	<!--  -->
	<script src="app/utils/utils.js"></script>
	<script src="app/env/env.js"></script>
	<script src="app/services/services.js"></script>
	<script src="app/store/store.js"></script>
	<!--  -->
	<script src="app/main.js"></script>
 }}
</body>

</html>