<div class="app--root">
	<p v-if="true">
		Hello World! /
		<router-link to="/login">Login</router-link> /
		<router-link to="/admin">Admin</router-link> /
		<router-link to="/user">Usuário</router-link> /
		<router-link to="/cadastro">Cadastro</router-link>
	</p>

	<app--header></app--header>
	<div class="page-container">
		<div class="page-content">
			<router-view></router-view>
			<app--footer></app--footer>
		</div>
	</div>

	<app--modal2--relogin
		ref="modalRelogin"
		v-if="relogin"
		v-on:login="onRelogin"
		v-on:click-close="$refs.modalRelogin.fadeOut();"
		v-on:click-logout="onReloginClickLogout"
		v-on:close="relogin = null;"
	></app--modal2--relogin>

</div>