.app--root {
}
.app--root .page-width {
	margin: 0 auto;
	width: 960px;
}

@media (orientation:portrait) {
	.app--root {
	}
}

@media (max-width: 1024px) {
	.app--root {
	}
	.app--root .page-width {
		width: 95%;
	}
}