@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggExtraLight.eot");
	src: url("../font/aggExtraLight.eot");
	src: url("../font/aggExtraLight.eot?#iefix") format("embedded-opentype"),
	url("../font/aggExtraLight.otf") format("opentype"),
	url("../font/aggExtraLight.svg") format("svg"),
	url("../font/aggExtraLight.ttf") format("truetype"),
	url("../font/aggExtraLight.woff") format("woff"),
	url("../font/aggExtraLight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggExtraLightCondensed.eot");
	src: url("../font/aggExtraLightCondensed.eot");
	src: url("../font/aggExtraLightCondensed.eot?#iefix") format("embedded-opentype"),
	url("../font/aggExtraLightCondensed.otf") format("opentype"),
	url("../font/aggExtraLightCondensed.svg") format("svg"),
	url("../font/aggExtraLightCondensed.ttf") format("truetype"),
	url("../font/aggExtraLightCondensed.woff") format("woff"),
	url("../font/aggExtraLightCondensed.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggExtraLightCondensedOblique.eot");
	src: url("../font/aggExtraLightCondensedOblique.eot");
	src: url("../font/aggExtraLightCondensedOblique.eot?#iefix") format("embedded-opentype"),
	url("../font/aggExtraLightCondensedOblique.otf") format("opentype"),
	url("../font/aggExtraLightCondensedOblique.svg") format("svg"),
	url("../font/aggExtraLightCondensedOblique.ttf") format("truetype"),
	url("../font/aggExtraLightCondensedOblique.woff") format("woff"),
	url("../font/aggExtraLightCondensedOblique.woff2") format("woff2");
	font-weight: 200;
	font-style: oblique;
	font-stretch: condensed;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggExtraLightOblique.eot");
	src: url("../font/aggExtraLightOblique.eot");
	src: url("../font/aggExtraLightOblique.eot?#iefix") format("embedded-opentype"),
	url("../font/aggExtraLightOblique.otf") format("opentype"),
	url("../font/aggExtraLightOblique.svg") format("svg"),
	url("../font/aggExtraLightOblique.ttf") format("truetype"),
	url("../font/aggExtraLightOblique.woff") format("woff"),
	url("../font/aggExtraLightOblique.woff2") format("woff2");
	font-weight: 200;
	font-style: oblique;
	font-stretch: normal;
}


@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggBook.eot");
	src: url("../font/aggBook.eot");
	src: url("../font/aggBook.eot?#iefix") format("embedded-opentype"),
	url("../font/aggBook.otf") format("opentype"),
	url("../font/aggBook.svg") format("svg"),
	url("../font/aggBook.ttf") format("truetype"),
	url("../font/aggBook.woff") format("woff"),
	url("../font/aggBook.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggBookCondensed.eot");
	src: url("../font/aggBookCondensed.eot");
	src: url("../font/aggBookCondensed.eot?#iefix") format("embedded-opentype"),
	url("../font/aggBookCondensed.otf") format("opentype"),
	url("../font/aggBookCondensed.svg") format("svg"),
	url("../font/aggBookCondensed.ttf") format("truetype"),
	url("../font/aggBookCondensed.woff") format("woff"),
	url("../font/aggBookCondensed.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggBookCondensedOblique.eot");
	src: url("../font/aggBookCondensedOblique.eot");
	src: url("../font/aggBookCondensedOblique.eot?#iefix") format("embedded-opentype"),
	url("../font/aggBookCondensedOblique.otf") format("opentype"),
	url("../font/aggBookCondensedOblique.svg") format("svg"),
	url("../font/aggBookCondensedOblique.ttf") format("truetype"),
	url("../font/aggBookCondensedOblique.woff") format("woff"),
	url("../font/aggBookCondensedOblique.woff2") format("woff2");
	font-weight: 400;
	font-style: oblique;
	font-stretch: condensed;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggBookOblique.eot");
	src: url("../font/aggBookOblique.eot");
	src: url("../font/aggBookOblique.eot?#iefix") format("embedded-opentype"),
	url("../font/aggBookOblique.otf") format("opentype"),
	url("../font/aggBookOblique.svg") format("svg"),
	url("../font/aggBookOblique.ttf") format("truetype"),
	url("../font/aggBookOblique.woff") format("woff"),
	url("../font/aggBookOblique.woff2") format("woff2");
	font-weight: 400;
	font-style: oblique;
	font-stretch: normal;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggMedium.eot");
	src: url("../font/aggMedium.eot");
	src: url("../font/aggMedium.eot?#iefix") format("embedded-opentype"),
	url("../font/aggMedium.otf") format("opentype"),
	url("../font/aggMedium.svg") format("svg"),
	url("../font/aggMedium.ttf") format("truetype"),
	url("../font/aggMedium.woff") format("woff"),
	url("../font/aggMedium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggMediumCondensed.eot");
	src: url("../font/aggMediumCondensed.eot");
	src: url("../font/aggMediumCondensed.eot?#iefix") format("embedded-opentype"),
	url("../font/aggMediumCondensed.otf") format("opentype"),
	url("../font/aggMediumCondensed.svg") format("svg"),
	url("../font/aggMediumCondensed.ttf") format("truetype"),
	url("../font/aggMediumCondensed.woff") format("woff"),
	url("../font/aggMediumCondensed.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggMediumCondensedOblique.eot");
	src: url("../font/aggMediumCondensedOblique.eot");
	src: url("../font/aggMediumCondensedOblique.eot?#iefix") format("embedded-opentype"),
	url("../font/aggMediumCondensedOblique.otf") format("opentype"),
	url("../font/aggMediumCondensedOblique.svg") format("svg"),
	url("../font/aggMediumCondensedOblique.ttf") format("truetype"),
	url("../font/aggMediumCondensedOblique.woff") format("woff"),
	url("../font/aggMediumCondensedOblique.woff2") format("woff2");
	font-weight: 500;
	font-style: oblique;
	font-stretch: condensed;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggMediumOblique.eot");
	src: url("../font/aggMediumOblique.eot");
	src: url("../font/aggMediumOblique.eot?#iefix") format("embedded-opentype"),
	url("../font/aggMediumOblique.otf") format("opentype"),
	url("../font/aggMediumOblique.svg") format("svg"),
	url("../font/aggMediumOblique.ttf") format("truetype"),
	url("../font/aggMediumOblique.woff") format("woff"),
	url("../font/aggMediumOblique.woff2") format("woff2");
	font-weight: 500;
	font-style: oblique;
	font-stretch: normal;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggDemi.eot");
	src: url("../font/aggDemi.eot");
	src: url("../font/aggDemi.eot?#iefix") format("embedded-opentype"),
	url("../font/aggDemi.otf") format("opentype"),
	url("../font/aggDemi.svg") format("svg"),
	url("../font/aggDemi.ttf") format("truetype"),
	url("../font/aggDemi.woff") format("woff"),
	url("../font/aggDemi.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggDemiCondensed.eot");
	src: url("../font/aggDemiCondensed.eot");
	src: url("../font/aggDemiCondensed.eot?#iefix") format("embedded-opentype"),
	url("../font/aggDemiCondensed.otf") format("opentype"),
	url("../font/aggDemiCondensed.svg") format("svg"),
	url("../font/aggDemiCondensed.ttf") format("truetype"),
	url("../font/aggDemiCondensed.woff") format("woff"),
	url("../font/aggDemiCondensed.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggDemiCondensedOblique.eot");
	src: url("../font/aggDemiCondensedOblique.eot");
	src: url("../font/aggDemiCondensedOblique.eot?#iefix") format("embedded-opentype"),
	url("../font/aggDemiCondensedOblique.otf") format("opentype"),
	url("../font/aggDemiCondensedOblique.svg") format("svg"),
	url("../font/aggDemiCondensedOblique.ttf") format("truetype"),
	url("../font/aggDemiCondensedOblique.woff") format("woff"),
	url("../font/aggDemiCondensedOblique.woff2") format("woff2");
	font-weight: 600;
	font-style: oblique;
	font-stretch: condensed;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggDemiOblique.eot");
	src: url("../font/aggDemiOblique.eot");
	src: url("../font/aggDemiOblique.eot?#iefix") format("embedded-opentype"),
	url("../font/aggDemiOblique.otf") format("opentype"),
	url("../font/aggDemiOblique.svg") format("svg"),
	url("../font/aggDemiOblique.ttf") format("truetype"),
	url("../font/aggDemiOblique.woff") format("woff"),
	url("../font/aggDemiOblique.woff2") format("woff2");
	font-weight: 600;
	font-style: oblique;
	font-stretch: normal;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggBold.eot");
	src: url("../font/aggBold.eot");
	src: url("../font/aggBold.eot?#iefix") format("embedded-opentype"),
	url("../font/aggBold.otf") format("opentype"),
	url("../font/aggBold.svg") format("svg"),
	url("../font/aggBold.ttf") format("truetype"),
	url("../font/aggBold.woff") format("woff"),
	url("../font/aggBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggBoldCondensed.eot");
	src: url("../font/aggBoldCondensed.eot");
	src: url("../font/aggBoldCondensed.eot?#iefix") format("embedded-opentype"),
	url("../font/aggBoldCondensed.otf") format("opentype"),
	url("../font/aggBoldCondensed.svg") format("svg"),
	url("../font/aggBoldCondensed.ttf") format("truetype"),
	url("../font/aggBoldCondensed.woff") format("woff"),
	url("../font/aggBoldCondensed.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggBoldCondensedOblique.eot");
	src: url("../font/aggBoldCondensedOblique.eot");
	src: url("../font/aggBoldCondensedOblique.eot?#iefix") format("embedded-opentype"),
	url("../font/aggBoldCondensedOblique.otf") format("opentype"),
	url("../font/aggBoldCondensedOblique.svg") format("svg"),
	url("../font/aggBoldCondensedOblique.ttf") format("truetype"),
	url("../font/aggBoldCondensedOblique.woff") format("woff"),
	url("../font/aggBoldCondensedOblique.woff2") format("woff2");
	font-weight: 700;
	font-style: oblique;
	font-stretch: condensed;
}

@font-face {
	font-family: "ITCAvantGardeStd";
	src: url("../font/aggBoldOblique.eot");
	src: url("../font/aggBoldOblique.eot");
	src: url("../font/aggBoldOblique.eot?#iefix") format("embedded-opentype"),
	url("../font/aggBoldOblique.otf") format("opentype"),
	url("../font/aggBoldOblique.svg") format("svg"),
	url("../font/aggBoldOblique.ttf") format("truetype"),
	url("../font/aggBoldOblique.woff") format("woff"),
	url("../font/aggBoldOblique.woff2") format("woff2");
	font-weight: 700;
	font-style: oblique;
	font-stretch: normal;
}
