(function(vars) {
	'use strict';
	var Utils = vars.Utils;
	vars.compMap['{{COMP_PATH}}'] = {
		/*
		props: {
			propA: {
				type: String
			}
		},
		data: function() {
			return {};
		},
		computed: {},
		methods: {},
		created: function() {},
		mounted: function() {},
		beforeDestroy: function() {}
		*/
	};
})(window.{{GLOBAL_VAR}});