(function() {
	'use strict';
	var vars = window.{{JS_GLOBAL}};
	var Utils = vars.Utils;
	vars.compMap[{{& COMP_PATH}}] = function(callback) {
		callback(null, comp);
	};
	var comp = {
		/*
		props: {
			propA: {
				type: String
			}
		},
		data: function() {
			return {};
		},
		computed: {},
		methods: {},
		created: function() {},
		mounted: function() {},
		beforeDestroy: function() {}
		*/
	};
})();
