{{ BYTE_ORDER_MARK }}<!DOCTYPE html>
<html lang="{{PAGE_LANG}}">
<head>
{{> head_basic }}
{{> head_cache }}
{{> head_title_desc }}
{{> head_viewport }}
{{> head_icon }}
{{> head_styles }}
	<script>
{{> init_global_vars }}
	</script>
{{> head_scripts }}
</head>
<body{{> body_attributes }}>
