*,
:after,
:before {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0
}

body,
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 100%
}