@import '../base/base.css';

.vcomp-fc-select {
	position: relative;
	height: 65px;
	height: 4.229166em;
	cursor: pointer;
}
.vcomp-fc-select .campo-border {
	position: absolute;
	width: 100%;
	min-height: 4.229166em;
	height: auto !important; /* as vezes o base.css é carregado depois */
	/*min-height: 64px;*/
	background: #fafafa;
	z-index: 1;
}
.vcomp-fc-select .campo-border {
	z-index: 4;
}
.vcomp-fc-select .campo-anchor {
	display: block;
	height: 4.1125em;
	color: #4d4d4d;
	text-decoration: none;
}
.vcomp-fc-select.campo-focused .campo-anchor {
	outline: none;
}
.vcomp-fc-select .campo-arrow {
	position: absolute;
	right: 1.4em;
	top: 1.5em;
	height: 1.166666em;
	line-height: 1.166666em;
}
.vcomp-fc-select .campo-lista {
	list-style: none;
	margin: 0;
	padding: 0 0 0.7em;
	max-height: 256px;
	max-height: 15em;
	background: #fafafa;
	overflow-y: auto;
}
.vcomp-fc-select .campo-lista a {
	display: block;
	padding: 0.291666em 0.933333em 0.291666em 1.283333em;
	font-size: 1.05em;
	color: #000;
	text-decoration: none;
}
.vcomp-fc-select .campo-lista a:hover {
	color: #f8562c;
	background: #f0f0f0;
}


